.dropdown-menu {
    display: flex;
    flex-direction: column;

    width: 14vw;
}
.dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
    margin: 0;
}
.dropdown-item {
    list-style: none;
    border: 1px solid;
    padding: 5px;
}
